.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #667059;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 3fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.main-content {
  background-color: #e2e8f0;
}

.sidebar-title {
  grid-area: 1 / 2 / 2 / 3;
}

.top-section {
  grid-area: 2 / 2 / 3 / 3;
}

.bottom-section {
  grid-area: 3 / 2 / 4 / 3;
}
